#play-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
}
#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://beta.easycompzeeland.nl/nyancat/nyanbg.png');
  background-size: cover;
  background-position: center;
  z-index: -1;
}
